# Mac
.DS_Store
._*

# build
build/
build-*
dist/

# test
test

# utility script
clean-double.sh
deploy.sh

# mutagen local sync configuration/state
mutagen.*
mutagen.*.yml
.mutagen.yml
.mutagen/

# clang
.clangd

# third_party
# since we are using BSP
# this folder is for reference only
third_party

# bsp related
static_lib

# cache
.cache/

# venv
.venv

# temp
temp
tmp

# TODO
TODO
